## 2 数据分析

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
data = pd.read_csv('test.csv')
data.head(2)

       date  temperature  load
0  12/08/19         25.0  1031
1  12/09/19         22.0  1081

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
date           11 non-null object
temperature    10 non-null float64
load           11 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 344.0+ bytes

In [23]:
# 减小内存消耗
data1 = data[['date', 'load']]
data1.memory_usage(deep=True)  # 查看内存消耗

Index     80
date     715
load      11
dtype: int64

In [28]:
load = data1['load'].astype('category')   # 从int64转成int8
load.memory_usage(deep=True), type(load)

(483, pandas.core.series.Series)

In [29]:
data.nlargest(3, 'load')   # 从data中选出load列中最大的3个值

       date  temperature  load
3  12/11/19         28.0    66
1  12/09/19         22.0    57
5  12/13/19         22.0    42

In [31]:
# 链式操作：从data中先挑出load列最大的3个，再从中挑选2个temperature最小的2个
data.nlargest(3,'load').nsmallest(2,'temperature')

       date  temperature  load
1  12/09/19         22.0    57
5  12/13/19         22.0    42

In [33]:
# 对1列进行排序
data.sort_values('load', ascending=False).head()

        date  temperature  load
3   12/11/19         28.0    66
1   12/09/19         22.0    57
5   12/13/19         22.0    42
9   12/17/19         11.0    42
10  12/17/19          NaN    41

In [34]:
# 对2列进行排序
data.sort_values(['temperature', 'load'], ascending=[False, True])

        date  temperature  load
7   12/15/19         32.0    -3
3   12/11/19         28.0    66
2   12/10/19         27.0    39
0   12/08/19         25.0     7
5   12/13/19         22.0    42
1   12/09/19         22.0    57
4   12/12/19         21.0   -19
8   12/16/19         19.0    31
6   12/14/19         13.0    -3
9   12/17/19         11.0    42
10  12/17/19          NaN    41

        date  temperature  load
0   12/08/19         25.0     7
1   12/09/19         22.0    57
2   12/10/19         27.0    39
3   12/11/19         28.0    66
4   12/12/19         21.0   -19
5   12/13/19         22.0    42
6   12/14/19         13.0    -3
7   12/15/19         32.0    -3
8   12/16/19         19.0    31
9   12/17/19         11.0    42
10  12/17/19          NaN    41