## 3 选取数据子集

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('test.csv')
data.head()

       date  temperature  load
0  12/08/19         25.0  1031
1  12/09/19         22.0  1081
2  12/10/19         27.0  1063
3  12/11/19         28.0  1090
4  12/12/19         21.0  1005

In [4]:
load = data.load   # 等价于data['load']
load.head(), type(load)

(0    1031
 1    1081
 2    1063
 3    1090
 4    1005
 Name: load, dtype: int64, pandas.core.series.Series)

In [12]:
# 以下两者等价
print(load.iloc[[1,2]], type(load.iloc[[1,2]])) 
load.iloc[1:3], type(load.iloc[1:3])   # Series不包括第4行，同numpy

1    1081
2    1063
Name: load, dtype: int64 <class 'pandas.core.series.Series'>

(1    1081
 2    1063
 Name: load, dtype: int64, pandas.core.series.Series)

In [9]:
data.loc[1:3]    # dataframe 包括第3行

       date  temperature  load
1  12/09/19         22.0  1081
2  12/10/19         27.0  1063
3  12/11/19         28.0  1090

In [18]:
data.loc[1]   # 1表示行索引

date           12/09/19
temperature          22
load               1081
Name: 1, dtype: object

In [19]:
data.iloc[1:3].index.tolist()

[1, 2]

In [37]:
print(type(data.loc[1, 'date':'load']))
print(type(data.loc[1, ['date', 'temperature', 'load']]))
data.loc[1, 'date':'load']

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

date           12/09/19
temperature          22
load               1081
Name: 1, dtype: object

In [39]:
type(data.iloc[1 , [0,1]]), data.iloc[1, [0,1,2]]

(pandas.core.series.Series, date           12/09/19
 temperature          22
 load               1081
 Name: 1, dtype: object)

In [40]:
data[0:3:2]

       date  temperature  load
0  12/08/19         25.0  1031
2  12/10/19         27.0  1063

In [43]:
# 设置索引，也可以在read_csv()中指定index_col
print(data.head())
data.set_index('load').head()

       date  temperature  load
0  12/08/19         25.0  1031
1  12/09/19         22.0  1081
2  12/10/19         27.0  1063
3  12/11/19         28.0  1090
4  12/12/19         21.0  1005

          date  temperature
load
1031  12/08/19         25.0
1081  12/09/19         22.0
1063  12/10/19         27.0
1090  12/11/19         28.0
1005  12/12/19         21.0

In [45]:
# 索引对象是不可变的
cols = data.columns
cols[0] = 'abc'

TypeError: Index does not support mutable operations